<div class="center">
  <div class ="frame">
    <div class="component">
      <h2 class="title">Play Online Chess</h2>
      <h3 class="subtitle">What is your chess skill level</h3>
      <div class="four-level">
        <label for="new" class="four-level">

        </label>
        <label for="beginner" class="four-level">

        </label>
        <label for="intermediate" class="four-level">

        </label>
        <label for="advanced" class="four-level">

        </label>
      </div>
      <button type="button" class="buttonGuest">Play as a Guest</button>
      <button type="button" class="btn buttonSignUP" style="margin-top:4% ;">Sign Up</button>
    </div>
  </div>
</div>
